@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="row row-cols-1 row-cols-md-2 g-5 align-items-center mt-5">
        <div class="col">
            <img src="https://via.placeholder.com/500" class="rounded img-fluid mx-auto" />
        </div>
        <div class="col">
            <div class="row p-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus erat, finibus vitae ipsum ut, tincidunt vehicula tellus. Duis ac luctus risus, nec eleifend quam. Ut vel sagittis nulla, vitae tincidunt dolor. Curabitur luctus rhoncus eros sit amet fermentum. Cras elementum nisi felis, vel egestas lacus semper vel. Aenean consequat, dui ut egestas tincidunt, sem ex lobortis velit, vel vestibulum quam sapien ac felis. Proin dictum scelerisque urna, non semper massa ultricies id. Morbi dictum venenatis orci non tincidunt. Vivamus nec tortor eget sapien auctor tincidunt tincidunt quis ante.
            </div>
            <div class="row">
                <a href="/Services">Check out Services!</a>
            </div>
         </div>
    </div>
