@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="row row-cols-1 mt-5">
        <h1 class="col text-center p-3 display-1 animate-fade">King's Consulting</h1>
        <h2 class="col text-center lead mb-5 animate-fade delay-1">Realizing and Reimagining Digital Media</h2>
        <div class="col text-center">
            <a asp-page="./About"><button class="btn btn-primary animate-fade delay-1">GET STARTED</button></a>
        </div>
    </div>

