@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row row-cols-1">
        <h1 class="col text-center p-3 display-1">King's Consulting</h1>
        <h2 class="col text-center display-6 mb-5">Realizing and Reimagining Digital Media</h2>
        <div class="col text-center">
            <button class="btn btn-outline-primary">GET STARTED</button>
        </div>
    </div>
</div>
