@page
@model WebDevProject.Pages.RegisterModel
@{
}

<form method="post">
    <div class="row row-cols-1 row-cols-md-2 g-3 align-items-center mt-5">
        <div class="col col-md-12">
            <div class="display-5">
                Welcome!
            </div>
        </div>
        <div class="col col-md-12">
            <p class="lead">
                Register for a faster checkout process
            </p>
        </div>
        <div class="col col-md-12">
            <label for="inputEmail" class="col-form-label">Your email</label>
            <input type="email" id="inputEmail" class="form-control" aria-describedby="emailHelpInline">
        </div>
        <div class="col col-md-12">
            <label for="inputPassword" class="col-form-label">Your password</label>
            <input type="password" id="inputPassword" class="form-control" aria-describedby="passwordHelpInline">
            <span id="passwordHelpInline" class="form-text">
                Must be 8-20 characters long.
            </span>
        </div>
        <div class="col col-md-12">
            <button class="btn btn-outline-primary">REGISTER</button>
        </div>
        <div class="col">
            Already have an account? <a href="/Login">Login</a>
        </div>
    </div>
</form>