@page
@model WebDevProject.Pages.ServicesModel
@{
    ViewData["Title"] = "Services";
}

<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-3 g-5">
        <div class="col">
            <div class="row">
                <p class="display-5 text-center">General Consulting</p>
            </div>
            <div class="row">
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus erat, finibus vitae ipsum ut, tincidunt vehicula tellus.
                </p>
            </div>
            <div class="row">
                <button class="btn btn-outline-primary">LEARN MORE</button>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <p class="display-5 text-center">Web Development</p>
            </div>
            <div class="row">
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus erat, finibus vitae ipsum ut, tincidunt vehicula tellus.
                </p>
            </div>
            <div class="row">
                <button class="btn btn-outline-primary">LEARN MORE</button>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <p class="display-5 text-center">Mobile Development</p>
            </div>
            <div class="row">
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus erat, finibus vitae ipsum ut, tincidunt vehicula tellus.
                </p>
            </div>
            <div class="row">
                <button class="btn btn-outline-primary">LEARN MORE</button>
            </div>
        </div>
    </div>
</div>

