.animate-fade {
    animation: fade-in 1s ease-in backwards;
}

.animate-slide {
    animation: slide-in 1s cubic-bezier(1, -0.03, 0, 0.99) backwards;
}

.animate-up {
    animation: slide-up 1s cubic-bezier(.645, -0.03, 0, 0.99) backwards;
}


.delay-1 {
    animation-delay: 0.6s;
}

.delay-2 {
    animation-delay: 0.7s;
}

.delay-3 {
    animation-delay: 0.8s;
}

.delay-4 {
    animation-delay: 0.9s;
}

.delay-5 {
    animation-delay: 1s;
}

.delay-6 {
    animation-delay: 1.1s;
}

.delay-7 {
    animation-delay: 1.2s;
}

.delay-8 {
    animation-delay: 1.3s;
}

.delay-9 {
    animation-delay: 1.4s;
}

.delay-10 {
    animation-delay: 1.5s;
}



@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(200%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(35px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}