@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="row justify-content-center">
    <div class="row row-cols-1 row-cols-md-2 g-5 align-items-center mt-5">
        <div class="col justify-content-center animate-slide-left">
            <img src="https://picsum.photos/seed/picsum/500" class="rounded img-fluid mx-auto" />
        </div>
        <div class="col animate-slide-right">
            <div class="row p-3">
                Hi 🙋‍♂️, <br/>
                I'm a Software Engineer that is currently attending college for Computer Science in the United States. I want to make an impact on the world with what I love doing. My passion for Software Engineering has opened up many opportunities! I am able to create real-world applications that people interact with and provide change.

                I enjoy constantly experiencing new technologies and developing relationships with others! My specialties include quickly learning new skills and programming languages, problem solving, SCRUM practices, and Model View Controller (MVC) methods of organizing code. So far I have C#, Flutter, Dart, Swift, SQL, JavaScript, TypeScript, HTML, CSS, PHP, React, Java, MaterialUI, Firebase, and Git/GitHub in my toolkit. I'm still enthusiastically snatching onto any other programming languages, frameworks, or principles I can integrate into the coding web in my head.

            </div>
            <div class="row">
                <a class="link" href="/Services">Check out Services!</a>
            </div>
        </div>
    </div>
    <div class="row ratio ratio-1x1 video-width-max m-3 animate-fade delay-1">
        <iframe src="https://www.youtube.com/embed/u75QjbXtAyM" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
