@page
@model KingsConsulting.Pages.AccountModel
@{
}

<form method="post">
    <div class="row align-items-center">
        <div class="col gap-3">

            @* Logic to check if user is logged in *@

            @if (Model.IsUserActive)
            {
                @* Display user information *@
                <div class="display-5 mb-5 animate-fade">My Account</div>
                <div class="account-row gap-2 mb-2 animate-slide-left delay-1">
                    <h6 class=" min-width">Email:</h6>
                    <div>@Model.Email</div>
                </div>
                <div class="account-row gap-2 mb-2 animate-slide-left delay-2">
                    <h6 class="min-width">First Name:</h6>
                    <div>@Model.FirstName</div>
                </div>
                <div class="account-row gap-2 mb-2 animate-slide-left delay-3">
                    <h6 class="min-width">Last Name:</h6>
                    <div>@Model.LastName</div>
                </div>
                <div class="account-row gap-2 mb-2 animate-slide-left delay-4">
                    <h6 class="min-width">Phone Number:</h6>
                    <div>@Model.FormatPhoneNumber(Model.PhoneNumber)</div>
                </div>
                <input class="btn btn-primary animate-up delay-5" type="submit" asp-page-handler="Submit" value="LOGOUT" />
            }
            else
            {
                @* Button to return to login form *@
                <div class="display-5 mb-5">No Active User Logged In</div>
                <a asp-page="/Login">Please Login Here</a>
            }
        </div>
    </div>
</form>
