@page "/Index"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="row row-cols-1 mt-5">
    <h1 class="col text-center p-3 display-1 animate-fade">@Html.Raw(@Model.Message)<strong>King's Consulting</strong></h1>
    <h2 class="col text-center lead mb-5 animate-up delay-1">Realizing and Reimagining Digital Media</h2>
    <div class="row gap-2">
        <div class="col text-center animate-slide-left delay-2">
            <a asp-page="./About"><button class="btn btn-primary animate-fade delay-1">GET STARTED</button></a>
        </div>
        <div class="col text-center animate-slide-right delay-2">
            <a asp-page="./Contact"><button class="btn btn-secondary animate-fade delay-1">CONTACT ME</button></a>
        </div>
    </div>
</div>

