@page "/Index"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="row row-cols-1 mt-5">
    @* Header *@
    <h1 class="col text-center p-3 display-1 animate-fade">@Html.Raw(@Model.Message)<strong>King's Consulting</strong></h1>
    <h2 class="col text-center lead mb-5 animate-up delay-1">Realizing and Reimagining Digital Media</h2>
    @* Main content *@
    <p class="col text-center animate-up delay-2 mb-2">
        If you're an entrepreneur, business owner, or creative professional, we can help you realize your vision and bring your ideas to life. We specialize in web design, web development, and digital marketing.
        The digital world is constantly evolving, and we're here to help you keep up with the latest trends and technologies.
        We can help you re-imagine your digital media and bring your ideas to life with our consulting, web development, and mobile
        app development services.
        <br />
        Here are some options to get started:
    </p>
    @* Arrows *@
    <div class="row mb-3">
        <div class="col text-center animate-bounce delay-5">
            <span>
                <i class="fas fa-arrow-down fa-2x animate-arrow"></i>
            </span>
        </div>
        <div class="col text-center animate-bounce delay-7">
            <span>
                <i class="fas fa-arrow-down fa-2x animate-arrow"></i>
            </span>
        </div>
        <div class="col text-center animate-bounce delay-9">
            <span>
                <i class="fas fa-arrow-down fa-2x animate-arrow"></i>
            </span>
        </div>
    </div>
    @* Buttons *@
    <div class="row gap-2">
        <div class="col text-center animate-slide-left delay-3">
            <a asp-page="./About"><button class="btn btn-primary animate-fade delay-1">LEARN MORE</button></a>
        </div>
        <div class="col text-center animate-slide-right delay-3">
            <a asp-page="./Contact"><button class="btn btn-secondary animate-fade delay-1">CONTACT ME</button></a>
        </div>
    </div>
</div>

