@page
@model KingsConsulting.Pages.RegisterModel
@{
}

<form method="post">
    <div class="row row-cols-1 row-cols-md-2 g-3 align-items-center mt-5">
        <div class="col col-md-12">
            <div class="display-5">
                Welcome!
            </div>
        </div>
        <div class="col col-md-12">
            <p class="lead">
                Register for a quicker and smoother experience!
            </p>
        </div>
        <div class="col col-md-12">
            <label for="inputfName" asp-for="FirstName" class=" col-form-label">First name</label>
            <input type="text" id="inputfName" class="form-control" aria-describedby="fNameHelpInLine" asp-for="FirstName">
            <span class="form-text" asp-validation-for="FirstName"></span>
        </div>
        <div class="col col-md-12">
            <label for="inputlName" asp-for="LastName" class=" col-form-label">Last name</label>
            <input type="text" id="inputlName" class="form-control" aria-describedby="fNameHelpInLine" asp-for="LastName">
            <span class="form-text" asp-validation-for="LastName"></span>
        </div>
        <div class="col col-md-12">
            <label for="inputEmail" asp-for="Email" class=" col-form-label">Your email</label>
            <input type="email" id="inputEmail" class="form-control" aria-describedby="emailHelpInline" asp-for="Email">
            <span class="form-text" asp-validation-for="Email"></span>
        </div>
        <div class="col col-md-12">
            <label for="inputPassword" asp-for="Password" class="col-form-label">Your password</label>
            <input type="password" id="inputPassword" class="form-control" aria-describedby="passwordHelpInline" asp-for="Password">
            <span id="passwordHelpInline" class="form-text" asp-validation-for="Password"> </span>
        </div>
        <div class="col col-md-12">
            <input class="btn btn-secondary" type="submit" asp-page-handler="Cancel" value="CANCEL" />
            <input class="btn btn-primary" type="submit" asp-page-handler="Submit" value="REGISTER"/>
        </div>
        <div class="col col-md-12">
            <p class="lead">
                @Model.StatusMessage
            </p>
        </div>
        <div class="col col-md-12">
            <span>Already have an account? </span><a asp-page="/Login">Login here!</a>
        </div>
    </div>
</form>

@* Add section scripts for client-side validation so that invalid data does not get sent to the server *@
@section Scripts {
    @{
        @* This references Javascript files needed for validation. Located in the shared folder*@
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

