@page
@model KingsConsulting.Pages.ServicesModel
@{
    ViewData["Title"] = "Services";
}

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5 mt-5 justify-content-center">
    <div class="col">
        <div class="row">
            <p class="display-5 text-center">General Consulting</p>
        </div>
        <div class="row">
            <p class="text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus erat, finibus vitae ipsum ut, tincidunt vehicula tellus.
            </p>
        </div>
        <div class="row">
            <a asp-page="./SpecificService"><button class="btn btn-primary w-100">LEARN MORE</button></a>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <p class="display-5 text-center">Web Development</p>
        </div>
        <div class="row">
            <p class="text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus erat, finibus vitae ipsum ut, tincidunt vehicula tellus.
            </p>
        </div>
        <div class="row">
            <a asp-page="./SpecificService"><button class="btn btn-primary w-100">LEARN MORE</button></a>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <p class="display-5 text-center">Mobile Development</p>
        </div>
        <div class="row">
            <p class="text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus erat, finibus vitae ipsum ut, tincidunt vehicula tellus.
            </p>
        </div>
        <div class="row">
            <a asp-page="./SpecificService"><button class="btn btn-primary w-100">LEARN MORE</button></a>
        </div>
    </div>
</div>

